.container {
	height: var(--home-item-height);
	width: 100%;
	max-width: var(--home-item-max-width);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.accent1 {
	fill: var(--accent-1);
}

.accent2 {
	fill: var(--accent-2);
}

.accent3 {
	fill: var(--accent-3);
}
