.header,
.text {
	display: flex;
}

.header {
	margin-bottom: 2rem;
}

.image {
	border: 6px solid var(--image-border);
	border-radius: 12px;
	box-shadow: 0 0 0 3px var(--image-border-edge);
}

.text {
	justify-content: center;
	flex-direction: column;
	margin-left: 1rem;
	line-height: 1.25;
}

.title {
	margin: 0.125rem 0;
}

.subtitle {
	font-size: 1.125rem;
}
