.link {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--home-item-height);
}

.accent,
.text {
	position: absolute;
	inset: 0;
	border: 2px solid #000;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--home-item-foreground);
	z-index: 2;
}

.text:hover {
	transform: translate(
		calc(var(--home-item-accent-offset) / 2.5),
		calc(var(--home-item-accent-offset) / 2.5)
	);
}

.text:active {
	transform: translate(
		calc(var(--home-item-accent-offset)),
		calc(var(--home-item-accent-offset))
	);
}

.accent {
	transform: translate(
		var(--home-item-accent-offset),
		var(--home-item-accent-offset)
	);
	z-index: 1;
}
