$gap: 2rem;
$image-gap: 0.5rem;
$border-radius: 12px;

.wrapper,
.details,
.iframeWrapper,
.mobileImages,
.buttons {
	display: flex;
}

.details,
.iframeWrapper,
.buttons {
	flex-direction: column;
}

.wrapper {
	margin-bottom: 5rem;
	gap: $gap;
}

@media only screen and (max-width: $mobile-breakpoint) {
	.wrapper {
		flex-direction: column;
		gap: 1rem;
	}
}

.details {
	flex: 0.7;
}

.description {
	margin-left: 1.125rem;
	margin-top: $gap;

	li,
	p {
		font-size: 1.125rem;
	}
}

.buttons {
	gap: $gap;
}

.button1 {
	background-color: var(--accent-1);
}

.button2 {
	background-color: var(--accent-2);
}

.iframeWrapper {
	align-self: flex-start;
	align-items: center;
	flex: 1;
	width: 100%;
	overflow: hidden;
}
