.entry {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: #000;
	margin-bottom: 2rem;
}

.title {
	margin: 0;
}

.details {
	display: flex;
	justify-content: space-between;
	margin-top: 0.25rem;
}

.entry:hover .title,
.entry:hover .details {
	color: var(--accent-2);
}

@media screen and (max-width: 600px) {
	.details {
		flex-direction: column;
	}
}

.tag {
	text-transform: capitalize;
}
