/* TODO REMOVE AFTER STYLING ABOUT.MDX */

.fullRow,
.halfRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullRow {
	grid-column: 1 / span 2;
}

.avatarImage {
	width: 100%;
	max-width: 20rem;
	height: auto;
	border: 10px solid #fff;
	border-radius: 25px;
	box-shadow: 0 0 0 3px #161616;
	margin: 5rem 0;
}

.welcomeTitle {
	margin: 2.75rem 0 1rem;
	font-size: 1.375rem;
}

.welcome {
	margin: 3rem 0 3rem;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
	line-height: 1.75;
}

.aboutMe {
	display: flex;
	align-items: flex-start;
}

.familyPhoto {
	border: var(--frame-border);
	max-width: 27rem;
	height: auto;
}

.familyPhotoCaption {
	margin: 1rem 0;
	font-size: 0.75rem;
}
