@use 'variables' as *;

$frame-spacing: 5rem;
$frame-spacing-mobile: 0.5rem;
$socialLinks-height: 6rem;
$halfRow-height: 4rem;

.header {
	position: fixed;
	bottom: auto;
	top: 0;
	height: $frame-spacing;
	left: $frame-spacing;
	right: $frame-spacing;
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: end;
	overscroll-behavior: contain;
	align-items: center;
}

@media only screen and (max-width: $mobile-breakpoint) {
	.header {
		left: $frame-spacing-mobile;
		right: $frame-spacing-mobile;
	}
}

.heading {
	text-align: center;
	color: #000;
	font-size: 1.25rem;
}

.name {
	top: 1.25rem;
	text-align: center;
}

.frame {
	overflow: auto;
	position: absolute;
	top: $frame-spacing;
	left: $frame-spacing;
	right: $frame-spacing;
	max-width: 1280px;
	margin: 0 auto;
	bottom: 0;
	overscroll-behavior: contain;

	&::before {
		content: '';
		position: sticky;
		top: 0;
		left: $frame-spacing;
		right: $frame-spacing;
		max-width: 1280px;
		margin: 0 auto;
		height: 0;
		border-top: var(--frame-border);
		display: block;
		z-index: 2;
		background: transparent;
	}
}

@media only screen and (max-width: $mobile-breakpoint) {
	.frame {
		left: $frame-spacing-mobile;
		right: $frame-spacing-mobile;
	}
}

.contentContainer {
	gap: 2.25rem;
	border: var(--frame-border);
	border-bottom: none;
	border-top: none;
	background-color: var(--frame-border-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: visible;
	padding: 1.5rem;
	min-height: calc(
		85dvh - calc($frame-spacing + $socialLinks-height + $halfRow-height)
	);
}

@media only screen and (max-width: $mobile-breakpoint) {
	.contentContainer {
		padding: 1rem;
	}
}

.contentHeader {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	opacity: 0.3;
	padding: 1rem 0;
}

.content {
	width: 60%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;

	section {
		display: flex;
		flex-direction: column;
		gap: 2.25rem;
	}
}

@media only screen and (max-width: $mobile-breakpoint) {
	.content {
		width: 100%;
	}
}

.footer {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
	border: var(--frame-border);
	margin-bottom: $frame-spacing;
}

.fullRow,
.halfRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullRow {
	grid-column: 1 / span 2;
	background-color: var(--frame-social-link-background-color);
}

.socialLinks {
	min-height: $socialLinks-height;
}

.socialLinks svg {
	fill: var(--frame-social-link-icon-color);
}

.halfRow {
	height: $halfRow-height;
	padding: 1rem;
	border-top: var(--frame-border);
	flex-direction: column;
}

.left {
	background-color: var(--frame-footer-left-background-color);
	align-items: flex-start;
}

.email,
.location {
	color: #000;
}

.left:hover {
	background-color: inherit;
	color: var(--home-item-foreground);

	.email,
	.location {
		color: var(--home-item-foreground);
	}
}

.right {
	color: white !important;
	background-color: var(--frame-footer-right-background-color);
	align-items: flex-end;
}

.right:hover {
	background-color: var(--frame-footer-left-background-color-hover);
}
