.backArrow {
	position: absolute;
	top: -1.5rem;
	left: 1rem;
	cursor: pointer;
	width: 7rem;
	height: 8rem;
	padding: 2rem 0;
}

.backArrowAccent {
	fill: black;
}

.name {
	position: absolute;
	top: 1rem;
	font-size: 1.5rem;
}

.frame {
	position: absolute;
	inset: 0;
	margin: 1rem;
	border: var(--frame-border);
}

.innerFrame {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.contentWrapper {
	border-top: var(--frame-border);
	position: absolute;
	inset: 0;
	margin-top: 5rem;
	background-color: var(--frame-border-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10rem;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr 1fr;
	border-top: var(--frame-border);
}

.fullFooterRow,
.halfFooterRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fullFooterRow {
	grid-column: 1 / span 2;
	background-color: var(--frame-social-link-background-color);
}

.socialLinks {
	height: 6rem;
}

.socialLinks svg {
	fill: var(--frame-social-link-icon-color);
}

.halfFooterRow {
	height: 4rem;
	padding: 1rem;
	border-top: 3px solid black;
	flex-direction: column;
}

.left {
	background-color: var(--frame-footer-left-background-color);
	align-items: flex-start;
}

.left:hover {
	background-color: inherit;
	color: var(--home-item-foreground);
}

.right {
	color: white;
	background-color: var(--frame-footer-right-background-color);
	align-items: flex-end;
}

.right:hover {
	background-color: #1c8df0;
}
