.imageWrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

.image {
	width: 100%;
	max-width: 20rem;
	height: auto;
	border: 10px solid #fff;
	border-radius: 25px;
	box-shadow: 0 0 0 3px var(--image-border-edge);
}

.title {
	font-weight: 600;
}

.intro,
.outro {
	font-weight: 400;
	letter-spacing: 0.02rem;
}

.email {
	color: var(--accent-2);
}
