.imageWrapper {
	display: flex;
	width: 100%;
	justify-content: center;
}

.image {
	width: 100%;
	max-width: 20rem;
	height: auto;
	border: 10px solid #fff;
	border-radius: 25px;
	box-shadow: 0 0 0 3px var(--image-border-edge);
	margin: 1.5rem 0;
}

.content p {
	font-size: 1.125rem;
	margin-bottom: 1rem;
}

.title {
	font-size: 2rem;
	margin: 3rem 0;
	font-weight: 600;
}

.intro,
.outro {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
	line-height: 1.75;
}

.outro {
	margin: 3.5rem 0 1rem;
}

.email {
	color: var(--accent-2);
}

@media only screen and (max-width: $mobile-breakpoint) {
	.title {
		font-size: 1.75rem;
		margin: 2.5rem 0;
	}

	.intro,
	.outro {
		font-size: 1.275rem;
	}
}
