:root {
	--accent-1: #ffa200;
	--accent-2: #e3500a;
	--accent-3: #9d0b0e;
	--accent-4: #7b0002;
	--accent-5: #000;

	--home-item-foreground: #e8e6e0;
	--home-item-height: 3rem;
	--home-item-max-width: 24rem;
	--home-item-gap: 1.5rem;
	--home-item-accent-offset: 0.3rem;

	--frame-border: 3px var(--accent-5) solid;
	--frame-border-color: var(--home-item-foreground);
	--frame-social-link-background-color: #fff;
	--frame-social-link-icon-color: #303030;
	--frame-footer-left-background-color: #d8d3c7;
	--frame-footer-left-background-color-hover: #1c8df0;
	--frame-footer-right-background-color: var(--accent-5);
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-1: #c6377c;
		--accent-2: #f6262e;
		--accent-3: #f67c15;
		--accent-4: #382076;

		--home-item-foreground: #93979a;

		--frame-social-link-background-color: #cecece;
		--frame-footer-left-background-color: #75797d;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	background-color: #3f525d;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background-color: inherit;
	border: none;
}
