:root {
	--header-color: #ffa200;
	--link-color: #e3500a;

	--accent-1: #ffa200;
	--accent-2: #e3500a;
	--accent-3: #9d0b0e;
	--accent-4: #630002;
	--accent-5: #000;

	--home-item-foreground: #e8e6e0;
	--home-item-height: 3rem;
	--home-item-max-width: 24rem;
	--home-item-gap: 1.75rem;
	--home-item-accent-offset: 0.3rem;
	--home-greeting-color: #e8e6e0;

	--frame-border: 3px var(--accent-5) solid;
	--frame-border-color: var(--home-item-foreground);
	--frame-social-link-background-color: #fff;
	--frame-social-link-icon-color: #303030;
	--frame-footer-left-background-color: #d8d3c7;
	--frame-footer-left-background-color-hover: #1c8df0;
	--frame-footer-right-background-color: var(--accent-5);

	--mdx-code-background-color: #d6d0c0;

	--image-border-edge: #161616;
	--image-border: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
		--accent-1: #c6377c;
		--accent-2: #f6262e;
		--accent-3: #f67c15;
		--accent-4: #382076;

		p,
		i,
		h2,
		h3,
		section {
			color: #000;
		}
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	inset: 0;
	background-color: #3f525d;
	text-rendering: geometricPrecision;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
	display: none;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

button {
	color: #000;
	background-color: inherit;
	border: none;
}

ul,
li {
	list-style-type: square;
}

code,
pre {
	background-color: var(--mdx-code-background-color);
	tab-size: 1rem;
	overflow: scroll;
}

pre {
	padding: 1rem;
	overflow-y: hidden;
	overflow-x: auto;
}

article {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	h2 {
		margin-top: 0.5rem;
	}

	li {
		margin-left: 2rem;
	}
}
