.main,
.buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main {
	align-items: center;
}

.name {
	margin-bottom: calc(var(--home-item-gap) * 2);
	line-height: 1;
	font-size: 1.5rem;
}

.buttons {
	max-width: var(--home-item-max-width);
	gap: var(--home-item-gap);
	margin-bottom: calc(var(--home-item-gap) * 2);
	padding: 0 1rem;
}

.button1 {
	background-color: var(--accent-1);
}

.button2 {
	background-color: var(--accent-2);
}

.button3 {
	background-color: var(--accent-3);
}
