.main,
.buttons {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main {
	align-items: center;
}

.intro,
.buttons {
	max-width: var(--home-item-max-width);
	margin-bottom: calc(var(--home-item-gap) * 2.5);
	width: 100%;
	padding: 0 1rem;
}

.greeting,
.aboutMe {
	color: var(--home-greeting-color);
	font-size: 1.25rem;
	opacity: 0.85;
}

.name > div {
	line-height: 1.5;
	font-size: 1.75rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.aboutMe {
	text-align: right;
}

.buttons {
	gap: var(--home-item-gap);
}

.button1 {
	background-color: var(--accent-1);
}

.button2 {
	background-color: var(--accent-2);
}

.button3 {
	background-color: var(--accent-3);
}
