.container,
.tasks,
.taskContainer {
	display: flex;
}

.container,
.tasks {
	flex-direction: column;
}

.container {
	gap: 2rem;
}

.tasks,
.taskContainer {
	gap: 1rem;
}

.tasks {
	padding-left: 2rem;
}

.taskImage {
	border-radius: 6px;
}
