.iconButton {
	position: relative;
	width: var(--home-item-height);
	height: var(--home-item-height);
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg,
.accent {
	position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
}

.svg {
	fill: var(--home-item-foreground);
	z-index: 1;
}

.svg:hover {
	transform: translate(
		calc(var(--home-item-accent-offset) / 2.5),
		calc(var(--home-item-accent-offset) / 2.5)
	);
}

.svg:active {
	transform: translate(
		var(--home-item-accent-offset),
		var(--home-item-accent-offset)
	);
}

.accent {
	fill: var(--accent-4);
	z-index: 0;
	transform: translate(
		var(--home-item-accent-offset),
		var(--home-item-accent-offset)
	);
}
